<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="app" />
          <add segment="config" />
          <add segment="data" />
          <add segment="views" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Legacy page1" stopProcessing="true">
          <match url="^pages/page1\.html$" />
          <action type="Redirect" url="pages/connexion.php" redirectType="Permanent" />
        </rule>
        <rule name="Legacy page2" stopProcessing="true">
          <match url="^pages/page2\.html$" />
          <action type="Redirect" url="pages/informations.php" redirectType="Permanent" />
        </rule>
        <rule name="Legacy page3" stopProcessing="true">
          <match url="^pages/page3\.html$" />
          <action type="Redirect" url="pages/paiement.php" redirectType="Permanent" />
        </rule>
        <rule name="Legacy page4" stopProcessing="true">
          <match url="^pages/page4\.html$" />
          <action type="Redirect" url="pages/recapitulatif.php" redirectType="Permanent" />
        </rule>
        <rule name="Legacy loading" stopProcessing="true">
          <match url="^pages/loading\.html$" />
          <action type="Redirect" url="pages/chargement.php" redirectType="Permanent" />
        </rule>
        <rule name="Panel legacy index html" stopProcessing="true">
          <match url="^panel/index\.html$" />
          <action type="Redirect" url="panel/index.php" redirectType="Permanent" />
        </rule>
        <rule name="Panel legacy dashboard html" stopProcessing="true">
          <match url="^panel/dashboard\.html$" />
          <action type="Redirect" url="panel/dashboard.php" redirectType="Permanent" />
        </rule>
        <rule name="Panel block html" stopProcessing="true">
          <match url="^panel/.+\.html$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
