DirectoryIndex index.php
Options -Indexes

<IfModule mod_authz_core.c>
  <Files "bootstrap.php">
    Require all denied
  </Files>
  <FilesMatch "\.html$">
    Require all denied
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^index\.html$ index.php [R=301,L]
  RewriteRule ^dashboard\.html$ dashboard.php [R=301,L]
</IfModule>
